<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Albums Page</title>
  </head>
  <body>
    <h1>Albums and Artists</h1>

    <p>Select an ABBA album:</p>
      <form method="get" action="/albums">
            <select name="name">
                <option>Ring Ring</option>
                <option>Waterloo</option>
                <option>ABBA</option>
                <option>Arrival</option>
                <option>ABBA: THe Album</option>
                <option>Voulez-Vous</option>
                <option>Super Trouper</option>
                <option>The Visitors</option>
            </select>
            <input type="Submit">
      </form>

      <p>Select a Beatles album:</p>
        <form method="get" action="/albums">
              <select name="name">
                  <option>Please Please Me</option>
                  <option>With the Beatles</option>
                  <option>A Hard Day's Night</option>
                  <option>Beatles For Sale</option>
                  <option>Help!</option>
                  <option>Rubber Soul</option>
                  <    option>Revolver</option>
                  <option>Sgt Pepper's Lonely Hearts Club Band</option>
                  <option>Magical Mystery Tour</option>
                  <option>The Beatles (White Album)</option>
                  <option>Yellow Submarine</option>
                  <option>Abby Road</option>
                  <option>Let It Be</option>

              </select>
              <input type="Submit">
        </form>

        <p>Select a Saint Motel album:</p>
          <form method="get" action="/albums">
                <select name="name">
                    <option>ForPlay</option>
                    <option>Voyeur</option>
                    <option>My Type</option>
                    <optio>saintmotelevision</option>
                </select>
                <input type="Submit">
          </form>

          <p>Select a Cardi B album:</p>
            <form method="get" action="/albums">
                  <select name="name">
                      <option>Invasion of Privacy</option>
                  </select>
                  <input type="Submit">
            </form>

            <p>Select a Coldplay album:</p>
              <form method="get" action="/albums">
                    <select name="name">
                        <option>Parachutes</option>
                        <option>A Rush of Blood to the Head</option>
                        <option>X&Y</option>
                        <option>Viva la Vida <br>or Death and All His Friends</option>
                        <option>Mylo Xyloto</option>
                        <option>Ghost Stories</option>
                        <option>A Head Full of Dreams</option>
                    </select>
                    <input type="Submit">
              </form>

              <p>Select a Walk the Moon album:</p>
                <form method="get" action="/albums">
                      <select name="name">
                          <option>I want! I want!</option>
                          <option>Walk the Moon</option>
                          <option>Talking is Hard</option>
                          <option>What if Nothing</option>
                      </select>
                      <input type="Submit">
                </form>

                <p>Select a Bad Suns song:</p>
                  <form method="get" action="/albums">
                        <select name="name">
                            <option>Language & Perspective</option>
                            <option>Disappear Here</option>
                        </select>
                        <input type="Submit">
                  </form>

                  <p>Select a The 1975 song:</p>
                    <form method="get" action="/albums">
                          <select name="name">
                              <option>The 1975</option>
                              <option>I Like It When You Sleep <br>for You Are So Beautiful <br> Yet So Unaware of It</option>
                              <option>A Brief Inquiry into <br>Online Relationships</option>
                          </select>
                          <input type="Submit">
                    </form>
  </body>
</html>
