<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Artists</h1>
      <p>Choose an artist:</p>
        <form method="get" action="/artist">
              <select name="name">
                  <option>The Beatles</option>
                  <option>ABBA</option>
                  <option>Saint Motel</option>
                  <option>Cardi B</option>
                  <option>Coldplay</option>
                  <option>Walk the Moon</option>
                  <option>Bad Suns</option>
                  <option>The 1975</option>
              </select>
              <input type="Submit">
        </form>
  </body>
</html>
