<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Artists and Songs</h1>

      <p>Select an ABBA song:</p>
        <form method="get" action="/artist">
              <select name="name">
                  <option>Dancing Queen</option>
                  <option>Mamma Mia</option>
                  <option>Fernando</option>
                  <option>Waterloo</option>
                  <option>SOS</option>
              </select>
              <input type="Submit">
        </form>

        <p>Select a Beatles song:</p>
          <form method="get" action="/artist">
                <select name="name">
                    <option>Help</option>
                    <option>Here Comes the Sun</option>
                    <option>Blackbird</option>
                    <option>Eleanor Rigby</option>
                    <option>Yellow Submarine</option>
                </select>
                <input type="Submit">
          </form>

          <p>Select a Saint Motel song:</p>
            <form method="get" action="/artist">
                  <select name="name">
                      <option>Cold Cold Man</option>
                      <option>The Destroyer</option>
                      <option>Ace in the Hole</option>
                      <option>1997</option>
                      <option>For Elise</option>
                  </select>
                  <input type="Submit">
            </form>

            <p>Select a Cardi B song:</p>
              <form method="get" action="/artist">
                    <select name="name">
                        <option>I Like It</option>
                        <option>Bodak Yellow</option>
                        <option>Be Carful</option>
                        <option>Get Up 10</option>
                        <option>Best Life</option>
                    </select>
                    <input type="Submit">
              </form>

              <p>Select a Coldplay song:</p>
                <form method="get" action="/artist">
                      <select name="name">
                          <option>Yellow</option>
                          <option>Viva la Vida</option>
                          <option>Sky Full of Stars</option>
                          <option>Charlie Brown</option>
                          <option>Fix You</option>
                      </select>
                      <input type="Submit">
                </form>

                <p>Select a Walk the Moon song:</p>
                  <form method="get" action="/artist">
                        <select name="name">
                            <option>Avalanche</option>
                            <option>Aquaman</option>
                            <option>Portugal</option>
                            <option>Down in the Dumps</option>
                            <option>Work This Body</option>
                        </select>
                        <input type="Submit">
                  </form>

                  <p>Select a Bad Suns song:</p>
                    <form method="get" action="/artist">
                          <select name="name">
                              <option>Daft Pretty Boys</option>
                              <option>Love Like Revenge</option>
                              <option>Swimming in the Moonlight</option>
                              <option>How Am I Not Myself</option>
                              <option>Cardiac Arrest</option>
                          </select>
                          <input type="Submit">
                    </form>

                    <p>Select a The 1975 song:</p>
                      <form method="get" action="/artist">
                            <select name="name">
                                <option>The Sound</option>
                                <option>Loving Someone</option>
                                <option>Girls</option>
                                <option>If I Believe You</option>
                                <option>This Must Be My Dream</option>
                            </select>
                            <input type="Submit">
                      </form>


  </body>
</html>
