<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musick</title>
    <link rel="stylesheet" href="/styles/musick.css">
    <!-- for the href - have to be careful about the location listed -->
  </head>

  <body>
      <header>Welcome to Musick</header>
        <section>

          <nav>
              <ul>
                  <li><a href="/songs">Songs</a>
                  <li><a href="/artists">Artists</a>
                  <li><a href= "/albums">Albums</a>
              </ul>
          </nav>
        </section>
    </body>


</html>
